FLASK_ENV=development
SECRET_KEY=cambia-esta-clave-por-una-cadena-larga-y-aleatoria
JWT_SECRET_KEY=cambia-tambien-esta-clave
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=bd_musuas
DB_USER=root
DB_PASSWORD=
