{% extends "admin/main.html" %} {% block titulo %} Agregar disco {% endblock %}
{% block contenido %}
<section class="w-50 m-auto">
  <h3 class="m-3 fs-5 fw-bold">Agregar producto</h3>
  <form
    action="{{url_for('admin.productos.guardar')}}"
    method="post"
    class="frm"
  >
    <div class="mb-3">
      <select class="form-select" name="categorias">
        {% for categoria in categorias %}
        <option value="{{categoria[0]}}">{{categoria[1]}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="mb-3">
      <label for="nombre">Nombre:</label>
      <input
        required
        type="text"
        class="form-control"
        placeholder="Nombre"
        name="nombre"
        id="nombre"
      />
    </div>
    <div class="mb-3">
      <label for="artista">Descripción:</label>
      <input
        required
        type="text"
        class="form-control"
        placeholder="Descripción"
        name="descripcion"
        id="descripcion"
      />
    </div>
    <div class="mb-3">
      <label for="precio">Precio:</label>
      <input
        required
        type="number"
        class="form-control"
        placeholder="Precio"
        name="precio"
        id="precio"
      />
    </div>
    <div class="mb-3">
      <label for="artista">Existencias:</label>
      <input
        required
        type="text"
        class="form-control"
        placeholder="Existencias"
        name="existencias"
        id="existencias"
      />
    </div>
    <div class="d-flex gap-2 justify-content-end">
      <button type="submit" class="btn btn-success mt-2">Guardar</button>
      <a href="{{url_for('admin.productos.home')}}" class="btn btn-primary mt-2"
        >Volver</a
      >
    </div>
  </form>
</section>
{% endblock %}
