{% extends "admin/main.html" %} {% block titulo %} Discos {% endblock %} {%
block contenido %}

<section class="section m-3">
  <div class="columns">
    <div class="column">
      <h3 class="m-3 fs-5 fw-bold">Usuarios</h3>

      <table class="table">
        <thead>
          <tr>
            <th>Dni</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Correo</th>
            <th>Teléfono</th>
            <th>Editar</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          {% for usuario in usuarios %}
          <tr>
            <td>{{usuario[1]}}</td>
            <td>{{usuario[2]}}</td>
            <td>{{usuario[3]}}</td>
            <td>{{usuario[4]}}</td>
            <td>{{usuario[5]}}</td>
            <td>
              {# Pasar el id (lo que hay en producto[0]) #}
              <a
                href="{{url_for('admin.usuarios.form_editar', id = usuario[0])}}"
                class="btn btn-info"
                >Editar</a
              >
            </td>
            <td>
              <form
                action="{{url_for('admin.usuarios.eliminar')}}"
                method="POST"
              >
                <input type="hidden" name="id" value="{{usuario[0]}}" />
                <button class="btn btn-danger">Eliminar</button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="text-end">
        <a
          href="{{url_for('admin.usuarios.form_agregar')}}"
          class="btn btn-success"
          >Agregar</a
        >
      </div>
    </div>
  </div>
</section>
{% endblock %}
