{% extends "client/main.html" %} {% block titulo %} Carrito de compras {%
endblock %} {% block contenido %}

<section class="mt-5 mb-3">
  <main class="mt-4 container">
    <div class="bg-titulo p-2 mb-2">
      <h1 class="mt-2 mb-2">Carrito de compras</h1>
    </div>

    <div class="productos-carrito mb-2 d-flex flex-column gap-3"></div>

    <div id="precio-total" class="mt-4"></div>

    <div class="d-flex justify-content-end gap-2">
      <div class="btn-vaciar-carrito">
        <a class="btn btn-danger" id="vaciar-carrito">Vaciar carrito</a>
      </div>
      <div>
        <a href="{{url_for('cliente.pag_compra')}}" class="btn btn-success"
          >Comprar</a
        >
      </div>
    </div>
  </main>
</section>

<script
  src="{{url_for('static', filename = 'js/mostrarProductos.js')}}"
  type="module"
></script>

{% endblock %}
