{% extends "client/main.html" %} {% block titulo %} Comprar producto {% endblock
%} {% block contenido %}

<section class="mt-5 mb-3 row m-auto">
  <div class="col-lg-6">
    <h3 class="m-3 fs-5 fw-bold">Productos</h3>
    <div class="productos-comprar"></div>
  </div>
  <div class="col-lg-6">
    <h3 class="m-3 fs-5 fw-bold">Datos compra</h3>
    <form
      action=""
      method="post"
      class="d-flex flex-column justify-content-center m-5"
    >
      {% if sesion %}
      <input
        type="hidden"
        name="idUsuario"
        value="{{idUsuario}}"
        id="idUsuario"
      />
      {% endif %}
      <div class="mb-3">
        <label for="dni" class="form-label">Dni:</label>
        {% if sesion %}
        <input
          required
          disabled
          type="number"
          class="form-control"
          name="dni"
          id="dni"
          value="{{dni}}"
        />
        {% else %}
        <input
          required
          type="number"
          class="form-control"
          name="dni"
          id="dni"
        />
        {% endif %}
      </div>
      <div class="mb-3">
        <label for="nombres" class="form-label">Nombres:</label>
        {% if sesion %}
        <input
          required
          disabled
          type="text"
          class="form-control"
          name="nombres"
          id="nombres"
          value="{{cliente + ' ' + apellidos}}"
        />
        {% else %}
        <input
          required
          type="text"
          class="form-control"
          name="nombres"
          id="nombres"
        />
        {% endif %}
      </div>
      <div class="mb-3">
        <label for="telefono" class="form-label">Número telefono:</label>
        {% if sesion %}
        <input
          disabled
          type="number"
          class="form-control"
          name="telefono"
          id="telefono"
          value="{{telefono}}"
        />
        {% else %}
        <input
          type="number"
          class="form-control"
          name="telefono"
          id="telefono"
        />
        {% endif %}
      </div>
      <div class="mb-3">
        <label for="hora-recojo" class="form-label">Hora recojo:</label>
        <input
          type="time"
          class="form-control"
          name="hora-recojo"
          id="hora-recojo"
        />
      </div>
      <div class="form-check">
        <input
          type="checkbox"
          class="form-check-input"
          id="boleta"
          name="boleta"
        />
        <label class="form-check-label" for="exampleCheck1">Boleta</label>
      </div>
      <div class="form-check">
        <input
          type="checkbox"
          class="form-check-input"
          id="billetera-digital"
          name="billeteraDigital"
        />
        <label class="form-check-label" for="exampleCheck1"
          >Billetera digital</label
        >
      </div>

      <div class="text-end mt-2">
        <button id="comprar-producto" type="submit" class="btn btn-success">
          Comprar
        </button>
      </div>
    </form>
  </div>
</section>

<script
  src="{{url_for('static', filename = 'js/mostrarProductosCompra.js')}}"
  type="module"
></script>
<script
  src="{{url_for('static', filename= 'js/comprarProductos.js')}}"
  type="module"
></script>
{% endblock %}
