{% extends "client/main.html" %} {% block titulo %} Registrarse {% endblock %}
{% block contenido %}
<div class="categorias-content pt-5">
  <div class="categorias">
    <div class="categorias-in">
      {% for categoria in categorias %} {% if categoria[1] != "Cremas" %}
      <a
        href="{{url_for('cliente.productos_categoria', categoria = categoria[1])}}"
        class="text-black"
      >
        <div class="categoria-item">
          <!-- <div>
            <img src="#" alt="Categoria" />
          </div> -->
          <p>{{categoria[1]}}</p>
        </div>
      </a>
      {% endif %} {% endfor %}
    </div>
  </div>
</div>
<section class="mt-1 mb-3">
  <h3>Productos {{categoria}}</h3>

  <div class="d-flex flex-wrap gap-2 justify-content-center mt-3">
    {% for producto in productos %}
    <div class="card" style="width: 300px">
      <img
        class="card-img-top"
        src="{{url_for('static', filename = 'img/hamburguesas/ha-1.jpg')}}"
        alt=""
      />
      <div class="card-body">
        <h4 class="card-title">{{producto["nombre"]}}</h4>
        <div>
          <p class="card-text">{{producto["descripcion"]}}</p>
          <p class="card-text">Precio: {{producto["precio"]}}</p>
        </div>

        <a
          href="{{url_for('cliente.comprar_producto', id=producto['idProducto'])}}"
          class="btn btn-primary w-100"
          >Comprar</a
        >
      </div>
    </div>

    {% endfor %}
  </div>
</section>

{% endblock %}
