{% extends "admin/main.html" %} {% block titulo %} Discos {% endblock %} {%
block contenido %}

<section class="section m-3">
  <div class="columns">
    <div class="column">
      <h3 class="is-size-3 m-3 fs-5 fw-bold">Categoría Productos</h3>

      <table class="table">
        <thead>
          <tr>
            <th>Id Categoría</th>
            <th>Nombre Categoría</th>
            <th>Descripción</th>
            <th>Editar</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          {% for categoria in categorias %}
          <tr>
            <td>{{categoria[0]}}</td>
            <td>{{categoria[1]}}</td>
            <td>{{categoria[2]}}</td>
            <td>
              {# Pasar el id (lo que hay en categoria[0] )#}
              <a
                href="{{url_for('admin.categoria.editar', id=categoria[0])}}"
                class="btn btn-info"
                >Editar</a
              >
            </td>
            <td>
              <form
                action="{{url_for('admin.categoria.eliminar')}}"
                method="POST"
              >
                <input
                  type="hidden"
                  name="idCategoria"
                  value="{{categoria[0]}}"
                />
                <button class="btn btn-danger">Eliminar</button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="text-end">
        <a href="{{url_for('admin.categoria.agregar')}}" class="btn btn-success"
          >Agregar</a
        >
      </div>
    </div>

    {% if hecho: %}
    <div>"No se puede borrar"</div>
    {% endif %}
  </div>
</section>
{% endblock %}
